<div class="form-container">
    <form action="/artist-search", method="GET", class="form-set" >
      <label>
        <input type="text" name="artistName" class="input-set"/>
      </label>
      <button type="submit" class="btn-set">Search for an Artist</button>
    </form>
</div>
  