<% tracks.forEach(track => { %>
    <p><%- track.name %></p>
  
    <% if(track.preview_url === null) { %>
      <% return %>
    <% } %>
  
    <audio controls src="<%- track.preview_url %>">
      <a href="<%- track.preview_url %>">Download audio</a>
    </audio>
<% }); %>